body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    gap: 20px;
}
button{
    font-size: 25px;
    border-radius: 10px;
    border: 4px solid rgb(79, 3, 3);
}